<div class="row">
    <nav class="sticky-top w-100 p-0">
        <div class="row w-100 h-100p">
            <div class="col-md-2 dark nav-row brand_link">
                <a routerLink="/profile" class="col-md-2">
                    <font color="white">Vid-Chat</font>
                </a>
            </div>
            <div class="col-md-10 dark nav-row p-0 logout">
                <div class="col-md-2 dark nav-row" style="float:right">
                    <a routerLink="/login" class="col-md-2">
                        <font color="white">logout</font>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>